# PostgreSQL
POSTGRES_USER=chatclub_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=chatclub
POSTGRES_PORT=5432
POSTGRES_TZ=UTC

# アプリ
APP_PORT=8080
DB_HOST=postgres
DB_PORT=5432

# DISCORD関連
DISCORD_TOKEN=
DISCORD_APP_ID=
DISCORD_GUILD_ID=

# Buckler (SF6)
CAPCOM_EMAIL=
CAPCOM_PASSWORD=
BUCKLER_COOKIE_ENC_KEY=
BUCKLER_LANG=ja-jp
BUCKLER_BASE_URL=https://www.streetfighter.com/6/buckler
